extends layout

block content
  p Welcome to AMDB - Your amazing movie DB
  p Which user's DB do you want to list?
  form#fUserdata(action='/userlist',method='post')
    input#tName(type='text' name='tName')
    br    
    input#bSubmit(type='submit')
