extends layout

block content
  h2= 'Movielist for ' + login
  table
    thead
      tr
        td Name
        td Year
        td IMDB
        td Rating
    tbody
      - for doc in docs
        tr
          td= doc.name
          td= doc.year
          td= doc.imdb
          td= doc.rating
